/* VARIABLES STYLES
 * COLOUR PALETTE (???) by sugar!
 * URL: https://www.colourlovers.com/palette/629637/()
 */
/* MIXINS  */
/* PLUGINS STYLES */
/* BASE STYLES */
*::before, *, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #83af9b; }

/* LAYOUT STYLES */
/* FRONT PAGE */
.region {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center; }

.region-header {
  background: #f9cdad;
  justify-content: space-between;
  padding: .2em; }

.region-content {
  background: none;
  flex-direction: column; }

.region-footer {
  background: black;
  color: white;
  flex-direction: column; }

/* Hero Panel Styles */
#block-goldfishonsale {
  background: none;
  position: relative; }
  #block-goldfishonsale .field--name-block-description {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-50%);
    overflow: hidden; }
    #block-goldfishonsale .field--name-block-description h2 {
      width: 100%;
      padding: 6em;
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.2); }
  #block-goldfishonsale .field--name-field-cta {
    position: absolute;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-70%);
    overflow: hidden; }
    #block-goldfishonsale .field--name-field-cta a {
      background: blue; }
  #block-goldfishonsale .field--name-field-image {
    max-width: 1026px;
    min-height: 307px;
    background: none; }
    #block-goldfishonsale .field--name-field-image img {
      width: 100%;
      height: 100%; }
  #block-goldfishonsale .field--name-body {
    background: none;
    padding: 4em;
    background: #f9cdad; }

/* Browse Animals Styles */
#block-views-block-browse-animals-machine-1 {
  background: none;
  min-height: 50vh;
  overflow: hidden; }
  #block-views-block-browse-animals-machine-1 h2 {
    margin: 1em; }
  #block-views-block-browse-animals-machine-1 .view-browse-animals {
    background: none; }
    #block-views-block-browse-animals-machine-1 .view-browse-animals .view-content {
      background: none;
      display: flex;
      justify-content: space-around;
      padding: 1rem 4rem; }
      #block-views-block-browse-animals-machine-1 .view-browse-animals .view-content .views-row {
        background: none;
        width: 30%;
        overflow: hidden; }
        #block-views-block-browse-animals-machine-1 .view-browse-animals .view-content .views-row .field--type-image {
          height: 177px;
          min-width: 264px;
          background: none;
          overflow: hidden; }
          #block-views-block-browse-animals-machine-1 .view-browse-animals .view-content .views-row .field--type-image img {
            width: auto;
            height: 100%; }
        #block-views-block-browse-animals-machine-1 .view-browse-animals .view-content .views-row h2 {
          font-weight: lighter;
          background: none;
          margin: 1em 0; }
        #block-views-block-browse-animals-machine-1 .view-browse-animals .view-content .views-row .node__links a {
          color: black;
          font-weight: lighter; }
  #block-views-block-browse-animals-machine-1 .more-link {
    text-align: center;
    margin: 2em 0; }

/* Animal news styles */
.block-views-blockanimal-news-block-1 {
  background: #f9cdad;
  padding: 0 5em; }
  .block-views-blockanimal-news-block-1 h2 {
    text-align: center;
    margin: 2em 0; }
  .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser {
    padding-bottom: 1em;
    display: flex; }
    .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-left {
      flex: 1; }
      .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-left .field--type-image {
        max-width: 265px;
        height: 215px;
        overflow: hidden; }
        .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-left .field--type-image img {
          width: auto;
          height: 100%; }
    .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-right {
      background: rgba(255, 255, 255, 0.3);
      flex: 3;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: .8em; }
      .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-right .field--name-node-title {
        flex: 1; }
        .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-right .field--name-node-title h2.news-title {
          padding: 0;
          margin: 0;
          text-align: left;
          padding-top: .5em;
          padding-bottom: .2em; }
      .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-right .field--name-body {
        text-align: justify;
        overflow: hidden;
        height: 150px;
        flex: 2; }
      .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-right .field--name-field-posted {
        flex: 1; }
        .block-views-blockanimal-news-block-1 div .view-animal-news .view-content .views-view-grid .views-row .node--view-mode-teaser .group-right .field--name-field-posted .field__item {
          text-align: left; }
  .block-views-blockanimal-news-block-1 div .more-link {
    text-align: center;
    padding: 4em 0; }
    .block-views-blockanimal-news-block-1 div .more-link a {
      color: black; }

/* Pet store panel front */
#block-petstorefriends .block-content--type-pet-store-friends-panel {
  display: flex;
  flex-direction: row;
  padding: 2em; }
  #block-petstorefriends .block-content--type-pet-store-friends-panel .group-left .field--type-image {
    padding: 1em .5em 1em 5em;
    width: 100%;
    height: 100%; }
    #block-petstorefriends .block-content--type-pet-store-friends-panel .group-left .field--type-image img {
      width: 100%;
      height: 100%; }
  #block-petstorefriends .block-content--type-pet-store-friends-panel .group-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
    position: relative; }
    #block-petstorefriends .block-content--type-pet-store-friends-panel .group-right .field--name-field-heading {
      flex: 0;
      padding: 1em 0 0 0;
      font-weight: bold;
      line-height: 2; }
    #block-petstorefriends .block-content--type-pet-store-friends-panel .group-right .field--name-field-subheading {
      flex: 0; }
    #block-petstorefriends .block-content--type-pet-store-friends-panel .group-right .field--name-field-read-more {
      flex: 0;
      justify-content: flex-end;
      margin-top: auto;
      padding: 1em; }

/* Latest article div (FRONT) */
#block-latestarticle {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border: 1px dotted rgba(0, 0, 0, 0.1);
  top: 80px;
  left: -60px;
  width: 35vw; }
  #block-latestarticle .pet-store-friends--panel--offset {
    text-align: left;
    padding: .3em; }
    #block-latestarticle .pet-store-friends--panel--offset h2 {
      padding: .5em 0;
      font-weight: lighter;
      line-height: 1; }

/* Animal Page Styles */
.view-browse-animals {
  display: flex;
  flex-direction: column;
  margin: auto; }

/* MODULES STYLES */
/* Main Nav Style */
#block-zero-branding img {
  background: none; }

nav.menu--main {
  display: flex; }
  nav.menu--main ul.menu {
    margin: auto; }
    nav.menu--main ul.menu li.menu-item {
      display: inline-block;
      border-right: 1px solid #83af9b;
      padding: .4em;
      font-weight: 600; }
    nav.menu--main ul.menu li.menu-item:last-child {
      border-right: 0; }

/* Menu footer styles */
nav.menu--footer {
  margin: 0 auto;
  padding: 2em 0; }
  nav.menu--footer ul .menu-item {
    display: inline-block;
    border-right: 1px solid #83af9b;
    padding: .4em; }
  nav.menu--footer ul li:last-child {
    border-right: 0; }

/* STATE STYLES */
/*  State link */
nav.menu--footer ul li a:link,
nav.menu--footer ul li a:visited,
nav.menu--footer ul li a:hover,
nav.menu--footer ul li a:active {
  color: white; }

/* THEMES STYLES */
