/* FRONT PAGE */

.region
    display: flex
    max-width: 1024px
    margin: 0 auto
    text-align: center

.region-header
    background: $sugar-champagne
    justify-content: space-between
    padding: .2em

.region-content
    background: none
    flex-direction: column
        
.region-footer
    background: black
    color: white
    flex-direction: column