.animal-news-page {

  .node--type-news {
    display: flex;
    margin-bottom: 1em;

    .group-left {
      flex: 1;
      display: flex;
      justify-content: center;
      .animal-news__image {
        height: 200px;
        width: 278px;
  
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .group-right {
      display: flex;
      flex-direction: column;
      text-align: left;
      flex: 2;
  
      .animal-news__heading {
        flex: 1;
      }
      .animal-news__description {
        flex: 1;
      }
  
    }
  }

  @media screen and (max-width: 480px) {
    .node--type-news {
      flex-direction: column;
      align-items: center;
      .group-left {

        .animal-news__image {
          height: auto;
          
          
        }
      }
      .group-right {
        width: 100%;

        .animal-news__heading {
          text-align: center;
          line-height: 1;
          font-size: 1.2em;
        }

        .animal-news__description {
          text-align: justify;
        }

        .animal-news__date {
          text-align: right;
        }

      }
          
    }


  }

}