.browse-animals {
  
  // Filter for mobile device
  .view-filters {
    display: none;
  }

  .views-row {
    display: flex;
    justify-content: center;

    .browse-animals__image {
      height: 220px;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  @media screen and (max-width: 480px) {
    
    h2 {
      line-height: 1;
      font-size: 1.3em;
    }

    // Filter for mobile device
    .view-filters {
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .views-row {
      flex-direction: column;
      align-items: center;


      h3 {
        line-height: 1;
        font-size: 1em;
      }

      .col-2, .col-3 {
        display: none;
      }

      .browse-animals__link, .more-link {
        line-height: 1;
        font-size: .90em;
      }

      .browse-animals__image {
        height: auto;
        img {
          height: auto;
        }
      }

    }

    .more-link {
      padding-top: 1em;
    }
    

  }

}