.menu--main {
  .menu {
    line-height: 2;

    @extend %duk-nav--horizontal;
    background: $happy-ballons;

    li {
      text-align: center;
    }

    li:hover {
      background: $bursts-of-euphoria;
    }

    a {
      text-decoration: none;
    }

    @media screen and (max-width: 480px) {

      @include duk-nav--vertical;
    }

  }

  @media screen and (max-width: 480px) {

    display: none;
    
  }

}