// Button styles
// -------------------------------------------------------

// Buttons
//
// Defines button styles and variants. `.button--primary` and `.button` are the same style.
//
// .button--secondary - Secondary button style
// .button--tertiary - Tertiary button style
// .button--small - Small button style
// .button--large - Large button style
//
// Style guide: Buttons.button
//
// Markup:
//  <p>
//   <a href="#" class="button ">Link button</a>
//   <button class="button ">Button tag</button>
//   <input type="submit" class="button " value="Submit button" />
//  </p>
.button {

}